body{
    background-color: pink;
}
#container{
    border: 5px solid;
    border-radius: 20px;
    box-shadow: 7px 7px rgb(18, 230, 11);
    width: 500px;
    height: auto;
    margin: 0 auto;
    margin-top: 4rem;
}
p{
    text-transform: uppercase;
    font-size: large;
    width: 8em;
    text-align: center;
    margin: 1em auto;
}
#inputt{
    width: 20rem;
    margin-left: 5.5rem;
}
#sm{
    width: 5rem;
    margin-left: 13.1rem;
}
#resultt{
    width: 20rem;
    margin-left: 5.5rem;
    height: 20rem;
}